



{{#if productData}}
<div class="container">
    <div class="row tm-content-row tm-mt-big">
        <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-block-col">
            <div class="bg-white tm-block h-100">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="tm-block-title d-inline-block">Products</h2>

                        {{!-- <div class="main">
                            <!-- Another variation with a button -->
                            <form action="/admin/adminSearchProduct" method="post">
                            <div class="input-group col-*">
                                <input type="search" name="name" class="form-control form-control-sm" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div> --}}

                    </div>
                    
                    <div class="col-md-4 col-sm-12 text-right mb-4">
                        <a href="/admin/adminAddProduct" class="btn btn-small btn-primary">Add New Product</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped tm-table-striped-even mt-3" id="productsTable">
                        <thead>
                            <tr class="tm-bg-gray">
                                <th scope="col">Product Name</th>
                                <th scope="col">Product Category</th>
                                <th scope="col" class="text-center">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Images</th>
                                <th scope="col" class="text-center">In Stock</th>
                                <th scope="col">Edit Products</th>
                                <th scope="col">Delete Products</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each productData}}
                            <tr>
                                <td class="tm-product-name">{{this.name}}</td>
                                <td class="text-center">{{this.category}}</td>
                                <td class="text-center">{{this.description}}</td>
                                <td>{{this.price}}</td>
                                <td><img src="{{this.images.[0]}}" alt="" style="width: 60px; height: 60px;">
                                </td>
                                <td>{{this.stock}}</td>
                                <td><a data-toggle="modal" data-target="#edit{{this._id}}"><i
                                            class="fas fa-edit"></i></a></td>
                                <td><a class=" btn btn-primary" data-toggle="modal" data-target="#delete{{this._id}}"><i
                                            class="fas fa-trash-alt tm-trash-icon"></i></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{!-- Edit products Modal --}}
    {{#each productData}}
    <div class="modal fade" id="edit{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="text-dark" action="/admin/adminEditProduct/{{this._id}}" method="post"
                        enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name" class="col-form-label">Product Name : </label>
                            <input type="text" name="name" value="{{this.name}}" style="color: black;" class="border"
                                id="name">
                        </div>

                        {{!-- <div class="form-group">
                            <label for="category" class="col-form-label">Product Category : </label>
                            <input type="text" name="category" value="{{this.category}}" class="border" id="category">
                        </div> --}}

                        <div class="input-group mb-3">
                            <label for="category"
                                class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Category</label>
                            <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" name="category"
                                id="category" required>
                                <option selected>Select one</option>
                                {{!-- {{#each category}}
                                <option value="{{this.name}}">{{this.name}}</option>
                                {{/each}} --}}
                                <option>T-shirts</option>
                                <option>Shirts</option>
                                <option>Crop-top</option>
                                <option>Hoodies</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-form-label">Description : </label>
                            <input type="text" value="{{this.description}}" name="description" class="border"
                                id="description">
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-form-label">Price : </label>
                            <input type="number" name="price" value="{{this.price}}" class="border" id="price">
                        </div>
                        <div class="form-group">
                            <label for="stock" class="col-form-label">In stock : </label>
                            <input type="number" name="stock" value="{{this.stock}}" class="border" id="stock">
                        </div>
                        <div class="form-group">
                            <label for="fileInput" class="col-form-label">Images : </label>
                            <input type="file" name="image" multiple value="{{this.images.[0]}}" class="border"
                                id="fileInput">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                            <a><button type="submit" class="btn btn-primary">confirm</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    {{!-- Delete Modal --}}
    {{#each productData}}
    <div class="modal fade" id="delete{{this._id}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete Product <b class="text-dark">{{this.name}}</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                    <a href="/admin/adminDeleteProduct/{{this._id}}" type="button" class="btn btn-danger">delete</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

{{else}}

<div class="container">
    <div class="row tm-content-row tm-mt-big">
        <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-block-col">
            <div class="bg-white tm-block h-100">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="tm-block-title d-inline-block">Products</h2>

                        <div class="main">
                            <!-- Another variation with a button -->
                            <form action="/admin/adminSearchProduct" method="post">
                            <div class="input-group col-*">
                                <input type="search" name="name" class="form-control form-control-sm" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>

                    </div>
                    
                    <div class="col-md-4 col-sm-12 text-right">
                        <a href="/admin/adminAddProduct" class="btn btn-small btn-primary">Add New Product</a>
                    </div>

                    <div>
                        <h2 class="tm-block-title d-inline-block mt-5 container">No Products with this name</h2>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>

{{/if}}

<script>
  $(function () {
    $('#productsTable').DataTable();
  });
</script>