<section id="reportsPage">
  <div class="" id="home">
    <div class="container">
      <div class="row tm-content-row tm-mt-big">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">

          {{!--Total sales Money of Last Month Delieverd Products--}}
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold"> This Month Sales</p>
                    <h5 class="font-weight-bolder">
                      Rs.{{total}}
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">Good</span>
                      since last month
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{!--Total User Count --}}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Users</p>
                    <h5 class="font-weight-bolder">
                      {{userCount}}
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">Perfect</span>
                      since 2023
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{!-- Total count of Orders Placed --}}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Orders</p>
                    <h5 class="font-weight-bolder">
                      {{totalOrdersPlaced}}
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">Good</span>
                      since 2023
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{!-- Total sales Money of Delieverd Products --}}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <a href="/admin/adminSalesReport">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Sales</p>
                      <h5 class="font-weight-bolder">
                        Rs.{{totalEarnings}}
                      </h5>
                      <p class="mb-0">
                        <span class="text-success text-sm font-weight-bolder">Good</span>&nbsp;since 2023
                      </p>
                    </div>
                  </a>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <style>
          .numbers {
            color: black;
          }
        </style>


      {{!-- Graph Implementation  --}}
      
        <div class=" tm-col-big mt-5 mx-5 mb-5">
  <div class="bg-white tm-block h-100">
    <h2 class="tm-block-title">Sales Performance</h2>

      <label for="year">Select a year:</label>
      <input type="number" id="year" name="year" min="2023" max="2025" value="2023">
      <button type="button" onclick="updateSalesData()" class="btn-dark">Update</button>

    <canvas id="myChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      let salesData = {
        '2023': [{{ jan }}, {{ feb }}, {{ mar }}, {{ apr }}, {{ may }}, {{ jun }}],
      };

      const ctx = document.getElementById('myChart');
      let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['January', 'February', 'March', 'April', 'May', 'June'],
          datasets: [{
            label: 'Number of sales',
            data: salesData['2023'],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      function updateSalesData() {
        let year = document.getElementById('year').value;
        myChart.data.datasets[0].data = salesData[year];
        myChart.update();
      }
    </script>
  </div>
</div>



        {{!-- Pie chart --}}
        <div class="tm-col-big mt-5 mx-5 mb-5">
          <div class="bg-white tm-block h-100">
            <h2 class="tm-block-title">Order Status</h2>
            <canvas id="myChart2"></canvas>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
              const ctx2 = document.getElementById('myChart2');

              const data = {
                labels: [
                  'Orders Delivered',
                  'Orders Placed',
                  'Orders Returned',
                  'Orders Canceled'
                ],
                datasets: [{
                  labels: 'Orders Status',
                  data: [{{deliveredCounts}}, {{placedCounts}}, {{returnCounts}}, {{cancelledCounts}}],
                  backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)'
                  ],
                  hoverOffset: 4
                }]
              };

              const config = {
                type: 'pie',
                data: data,
              };

              new Chart(ctx2, config);
            </script>
          </div>
        </div>


        <div class="tm-col-big mt-5 mx-5 mb-5">
          <div class="bg-white tm-block h-100">
            <div class="row">
              <div class="col-8">
                <h2 class="tm-block-title d-inline-block">Total Reports</h2>

              </div>
              {{!-- <div class="col-4 text-right">
                <a href="products.html" class="tm-link-black">View All</a>
              </div> --}}
            </div>
            <ol class="tm-list-group tm-list-group-alternate-color tm-list-group-pad-big">
              <li class="tm-list-group-item"> <a href="/admin/adminUserManagement">
                  Total {{userCount}} users </a>
              </li>
              <li class="tm-list-group-item"> <a href="/admin/adminOrder">
                  Total {{totalOrdersPlaced}} Orders </a>
              </li>
              <li class="tm-list-group-item"> <a href="/admin/adminProduct">
                  Total Products </a>
              </li>
              <li class="tm-list-group-item"> <a href="/admin/adminSalesReport">
                  Total Sales Report </a>
              </li>
            </ol>
            <style>
              .tm-list-group-item a {
                color: black;
                text-decoration: none;
              }
            </style>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>