<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>{{product.category}}<span>.</span></h2>
                    <a href="#">Home</a>
                    <a href="/shop">Products</a>
                    <a class="active" href="#">{{product.category}}</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Product Page Section Beign -->
<section class="product-page">
    <div class="container">
        <div class="product-control">
            <a href="#">Previous</a>
            <a href="#">Next</a>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-slider owl-carousel">
                    <div class="product-img">

                        <figure>
                            {{!-- <img src="{{product.images.[0]}}" alt=""> --}}
                            <img src="{{product.images.[0]}}" id="main_product_image"
                                data-zoom-image='{{product.images.[0]}}' class="img-fluid" alt="image of product">
                            <div class="p-status">new</div>
                        </figure>

                        {{#each product.images}}
                        {{#unless @first}}
                        <figure class="pt-4 d-flex flex-row" style="width: 200px;">
                            <img src="{{this}}" id="main_product_image" onclick="changeImage(this)" class="img-fluid smaller-image"
                                alt="image of product">
                        </figure>
                        {{/unless}}
                        {{/each}}

                        <style>
                            .smaller-image {
                                width: 200px;
                                height: 200px;
                            }
                        </style>

                    </div>
                    {{!-- <div class="product-img">
                        <figure>
                            <img src="img/product/product-1.jpg" alt="">
                            <div class="p-status">new</div>
                        </figure>
                    </div> --}}
                </div>

            </div>
            <div class="col-lg-6">
                <div class="product-content">
                    <h2>{{product.name}}</h2>
                    <div class="pc-meta">
                        <h5>₹{{product.price}}.00</h5>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <p>{{product.description}}</p>
                    <ul class="tags">
                        <li><span>Category :</span> {{product.category}}</li>
                        <li><span>Tags :</span> {{product.category}}, elegant, cool</li>
                    </ul>
                    <div class="product-quantity">
                        <div class="pro-qty">
                            <input type="text" value="1">
                        </div>
                    </div>
                    <a onclick="addToCart('{{product._id}}')" class="primary-btn pc-btn">Add to cart</a>
                    <ul class="p-info">
                        <li>Product Information</li>
                        <li>Reviews</li>
                        <li>Product Care</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Page Section End -->

<!-- Related Product Section Begin -->
<section class="related-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="/img/hope-tshirt-duo-image.jpg" alt="image"></a>
                        <div class="p-status">new</div>
                    </figure>
                    <div class="product-text">
                        <h6>T-Shirt</h6>
                        <p>₹499.00</p>
                        {{!-- {{/each}} --}}
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="/img/swag-oversized-tshirt-display-image-unisex-latest.jpg"
                                alt="image"></a>
                        <div class="p-status">new</div>
                    </figure>
                    <div class="product-text">
                        <h6>T-Shirt</h6>
                        <p>₹499.00</p>
                        {{!-- {{/each}} --}}
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="/img/kumbidi-tshirt-mydesignation-website-image-.jpg" alt="image"></a>
                        <div class="p-status">new</div>
                    </figure>
                    <div class="product-text">
                        <h6>T-Shirt</h6>
                        <p>₹499.00</p>
                        {{!-- {{/each}} --}}
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="#"><img src="/img/Astro-Kathakali-tshirt-duo-image.jpg" alt="image"></a>
                        <div class="p-status">new</div>
                    </figure>
                    <div class="product-text">
                        <h6>T-Shirt</h6>
                        <p>₹499.00</p>
                        {{!-- {{/each}} --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Product Section End -->



{{!-- axios --}}
<script>
    function addToCart(productId) {
        console.log("apicall")
        axios.get(`/addToCart/${productId}`).then((response) => {
            if (response.status) {
                Toastify({
                    text: `${response.data.message}`,
                    duration: 3000,
                    className: "info",
                    gravity: "bottom",
                    position: "center",
                    style: {
                        background: "linear-gradient(to right, #00b09b, #96c93d)",
                    }
                }).showToast();
            }
        }).catch((err) => {
            Toastify({
                text: "product is not added to cart",
                duration: 3000,
                className: "info",
                gravity: "bottom",
                position: "center",
                style: {
                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                }
            }).showToast();
        })
    }

</script>

{{!-- elevate zoom --}}

<script>

    function changeImage(element) {
    let main_prodcut_image = document.getElementById('main_product_image');
    main_prodcut_image.src = element.src;
    $("#main_product_image").data('zoom-image', main_prodcut_image.src).elevateZoom({
        responsive: true,
        zoomWindowWidth: 300,
        zoomWindowHeight: 300
    });
    $("#main_product_image").elevateZoom({
        responsive: true
    });
    }

</script>