<!--Plugin CSS file with desired skin -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />



<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Products<span>.</span></h2>
                    <a href="/">Home</a>
                    <a href="/shop" class="active">Products</a>
                </div>
                <div class="page-breadcrumb">
                    <h5>Category</h5>
                    <div class="page-breadcrumbs">
                        <ul class="container">
                            {{#each categories}}
                            <li><a href="/category/{{this.name}}">{{this.name}}</a></li>
                            {{/each}}
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-8">
                <a href="/shop"><img src="/img/printed-tshirts-mydesignation-banner-desktop.jpg" alt=""></a>
            </div>
        </div>
    </div>

</section>
<!-- Page Add Section End -->


<!-- Categories Page Section Begin -->
<section class="categories-page spad">
    <div class="container sidebar">
        <div class="categories-controls mb-5">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories-filter">
                            <!--  price slider -->
                        <div class="col-md-12">
                            <label for="range">Price range:</label>
                            <div class="range-slider">
                                <input type="text" id="range" class="js-range-slider" value="" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="extra-controls mb-4">
                                <label hidden for="selectMinPrice">Minimum price:</label>
                                <input hidden type="number" class="form-control" id="selectMinPrice" name="minPrice"
                                    value="{{minPrice}}" />

                                <label hidden for="selectMaxPrice">Maximum price:</label>
                                <input hidden type="number" class="form-control" id="selectMaxPrice" name="maxPrice"
                                    value="{{maxPrice}}" />

                                <div class="text-center">
                                    <button class="btn btn-dark" onclick="applyFilter()">Apply</button>
                                </div>
                            </div>
                        </div>

                         <div class="cf-left mt-3">
                                    {{!-- <select class="sort"> --}}
                                        {{!-- <option value="" >Sort by</option> --}}
                                        <a href="" class="btn btn-dark" onclick="sortPrice(1)">Low to High</a>
                                        <a href="" class="btn btn-dark" onclick="sortPrice(-1)">High to Low</a>
                                        {{!-- <option value="" onclick="sortPrice(1)">Low to High</option>
                                        <option value="" onclick="sortPrice(-1)">High to Low</option> --}}
                                    {{!-- </select> --}}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{#if products}}
            {{#each products}}
            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="{{this.images.[0]}}" alt="">
                        <div class="p-status">new</div>
                        <div class="hover-icon">
                            <a href="{{this.images.[0]}}" class="pop-up"><img src="img/icons/zoom-plus.png" alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="/product/{{this._id}}">
                            <h5>{{this.name}}</h5>
                            <h6>{{this.category}}</h6>
                            <p>₹{{this.price}}.00</p>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else if filteredProducts}}
            {{#each filteredProducts}}

            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="{{this.images.[0]}}" alt="">
                        <div class="p-status">new</div>
                        <div class="hover-icon">
                            <a href="{{this.images.[0]}}" class="pop-up"><img src="img/icons/zoom-plus.png" alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="/product/{{this._id}}">
                            <h5>{{this.name}}</h5>
                            <h6>{{this.category}}</h6>
                            <p>₹{{this.price}}.00</p>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else if sortedProducts}}
            {{#each sortedProducts}}

            <div class="col-lg-3 col-md-6">
                <div class="single-product-item">
                    <figure>
                        <img src="{{this.images.[0]}}" alt="">
                        <div class="p-status">new</div>
                        <div class="hover-icon">
                            <a href="{{this.images.[0]}}" class="pop-up"><img src="img/icons/zoom-plus.png" alt=""></a>
                        </div>
                    </figure>
                    <div class="product-text">
                        <a href="/product/{{this._id}}">
                            <h5>{{this.name}}</h5>
                            <h6>{{this.category}}</h6>
                            <p>₹{{this.price}}.00</p>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}

            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404">
                        <h1>Oops!</h1>
                        <h2>404 - No Results Found</h2>
                    </div>
                    <a href="/shop">Go TO Shop</a>
                </div>
            </div>
            {{/if}}


        </div>
    </div>
</section>
<!-- Categories Page Section End -->



<!-- Your JavaScript code for initializing and updating the range slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script>
    const range = document.getElementById('range');
    const selectMinPrice = document.getElementById('selectMinPrice');
    const selectMaxPrice = document.getElementById('selectMaxPrice');

    // initialize range slider
    let instance = null;
    const min = 300;
    const max = 1000;
    const defaultMin = min;
    const defaultMax = max;
    range.value = `${defaultMin},${defaultMax}`;
    instance = $(range).ionRangeSlider({
        skin: "square",
        type: "double",
        min: min,
        max: max,
        from: defaultMin,
        to: defaultMax,
        onStart: updateInputs,
        onChange: updateInputs
    }).data("ionRangeSlider");

    function updateInputs(data) {
        selectMinPrice.value = data.from;
        selectMaxPrice.value = data.to;
    }

    function applyFilter() {
        event.preventDefault();

        console.log(`Selected price range: ${selectMinPrice.value} - ${selectMaxPrice.value}`);

        axios.post('/shopPriceFilter', {
            minPrice: selectMinPrice.value,
            maxPrice: selectMaxPrice.value,
        })
            .then(() => {
                location.href = '/shop';
            })
            .catch(() => {
                console.error('Error applying price filter')
            });
    }

    function sortPrice(value) {
        axios.post('/shopPriceSort', {
            minPrice: selectMinPrice.value,
            maxPrice: selectMaxPrice.value,
            sort: value
        })
            .then(() => {
                location.href = '/shop';
            })
            .catch(() => {
                location.href = '/shop';
            });
    }

</script>