<!-- Page Add Section Begin -->
    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>Products<span>.</span></h2>
                        <a href="/">Home</a>
                        <a href="#">Products</a>
                        {{!-- <a href="#">Category</a> --}}
                    </div>
                </div>
                <div class="col-lg-8">
                   <a href="/shop"><img src="img/printed-tshirts-mydesignation-banner-desktop.jpg" alt=""></a> 
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <!-- Categories Page Section Begin -->
    <section class="categories-page spad">
        <div class="container">
            <div class="categories-controls">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="categories-filter">
                            <div class="cf-left">
                                <form action="#">
                                    <select class="sort">
                                        <option value="">Sort by</option>
                                        <option value="">Orders</option>
                                        <option value="">Newest</option>
                                        <option value="">Price</option>
                                    </select>
                                </form>
                            </div>
                            <div class="cf-right">
                                <span>20 Products</span>
                                <a href="#">2</a>
                                <a href="#" class="active">4</a>
                                <a href="#">6</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {{!-- <div class="col-lg-6 col-md-6">
                    <div class="single-product-item">
                       <figure>
                            <img src="img/products/bat-pattern-polo-tshirt-ramzan-main-image-.jpg" alt="">
                           <a href="/product"><div class="p-status">new</div></a> 
                            <div class="hover-icon">
                                <a href="img/products/bat-pattern-polo-tshirt-ramzan-main-image-.jpg" class="pop-up"><img src="img/icons/zoom-plus.png"
                                        alt=""></a>
                            </div>
                        </figure>
                        <div class="product-text">
                            <a href="/product"> 
                                <h6>Green Dress with details</h6>
                            </a>
                            <p>$22.90</p>
                        </div>
                    </div>
                </div> --}}
                {{!-- {{#each products}}
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-product-item">
                                <figure>
                                    <img src="{{this.images.[0]}}" alt="">
                                    <div class="p-status sale">sale</div>
                                    <div class="hover-icon">
                                <a href="img/products/neon-graffiti-shirt-male-model-display-image.jpg" class="pop-up"><img src="img/icons/zoom-plus.png"
                                        alt=""></a>
                            </div>
                                </figure>
                                <div class="product-text">
                                    <a href="/product">
                                        <h6>{{this.name}}</h6>
                                    </a>
                                    <p>{{this.price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}} --}}
                {{#each products}}
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product-item">
                            <figure>
                                <img src="{{this.images.[0]}}" alt="">
                                <div class="p-status">new</div>
                                <div class="hover-icon">
                                    <a href="{{this.images.[0]}}" class="pop-up"><img src="img/icons/zoom-plus.png"
                                            alt=""></a>
                                </div>
                            </figure>
                            <div class="product-text">
                                <a href="/product">
                                    <h6>{{this.name}}</h6>
                                </a>
                                <p>{{this.price}}</p>
                                {{!-- <p>{{this.description}}</p> --}}
                            </div>
                        </div>
                    </div>
                {{/each}} 
            </div>
            {{!-- <div class="more-product">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="#" class="primary-btn">Load More</a>
                    </div>
                </div>
            </div> --}}
        </div>
    </section>
    <!-- Categories Page Section End -->

    <!-- Footer Section Begin -->
    {{!-- <footer class="footer-section spad">
        <div class="container">
            <div class="newslatter-form">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <input type="text" placeholder="Your email address">
                            <button type="submit">Subscribe to our newsletter</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-widget">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>About us</h4>
                            <ul>
                                <li>About Us</li>
                                <li>Community</li>
                                <li>Jobs</li>
                                <li>Shipping</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Customer Care</h4>
                            <ul>
                                <li>Search</li>
                                <li>Privacy Policy</li>
                                <li>2019 Lookbook</li>
                                <li>Shipping & Delivery</li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Our Services</h4>
                            <ul>
                                <li>Free Shipping</li>
                                <li>Free Returnes</li>
                                <li>Our Franchising</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Information</h4>
                            <ul>
                                <li>Payment methods</li>
                                <li>Times and shipping costs</li>
                                <li>Product Returns</li>
                                <li>Shipping methods</li>
                                <li>Conformity of the products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>
			</div>

<div class="container text-center pt-5">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>


		</div>
    </footer> --}}
    <!-- Footer Section End -->
